form {
    max-width: 300px;
    margin-top: 0;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.formclass{
    margin-top: 50px !important;
}
body {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10px;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    align-items: center; 
}

div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #000000;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #007bff;
}
input[type="email"]{
    width: 90% !important;
}
button {
    width: 30%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

button:disabled {
    background-color: #a3c0e3;
}

button:hover {
    background-color: #0056b3;
}

.success-message {
    margin-top: 20px;
    color: rgb(0, 0, 0);
    font-size: 14px;
}
